* {
    font-family: 'Prosto One', sans-serif
}

body {
    background-image: url("https://www.mediafire.com/file/hedhfrs94abjrjw/neurondark.png/file");
    margin: 0;
    min-width: auto;
    color: beige;
    stroke: #000000;
    stroke-width: 5px;

    
    .prosto-one-regular {
        font-family: "Prosto One";
        font-weight: 400;
        font-style: normal;
        stroke: #000000;
        stroke-width: 10px;
    }
}
