* {
    font-family: 'Prosto One', sans-serif
}

body {
    background-image: url();
    margin: 0;
    min-width: auto;
    color: rgb(21, 236, 111);
    stroke: #000000;
    stroke-width: 5px;

    
    .prosto-one-regular {
        font-family: "Prosto One";
        font-weight: 400;
        font-style: normal;
        stroke: #000000;
        stroke-width: 10px;
    }
}
