<nav><center>
  <div class="flex-container-headerNav">
  <% if(user) { %> 
  <!-- <a href="/users/<#%= user._id %>/riddles">Your Riddles</a> -->
   <small> <a href="/">Home</a>   路   
  <a href="/riddles">Index</a>   路   
  <a href="/riddles/new">Add New Riddle</a>   路   
  <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a href="/auth/sign-in">Sign In</a>   路   
  <a href="/auth/sign-up">Sign Up</a> 
  <% } %>
  </div></small>
  </center>
</nav>
