<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riddles Index</title>
</head>
<body>
    <h2>Riddles Index</h2>


<ul>
  <% riddles.forEach((riddle)=>{ %>
  <li>
    <a href="/users/<%= user._id %>/riddles/<%= riddle._id %>">
      <%= riddle.title %> at <%= application.company %>
  </a></li>
  <% }) %>
</ul>

    //render riddles here
</body>
</html>

