<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Riddles Index</title>
</head>

<body>
  <center>
    <%- include('../partials/_navbar.ejs') %>
      <h2>Riddles Index</h2>

      <ul>
        <% riddles.forEach((riddle)=> { %>
          <!-- <li> -->
            Q: <%= riddle.riddle %>
            <br><i> owned by <%= riddle.owner.username %>.
                <a href="/riddles/<%= riddle._id %>">View</i></a>
          <!-- </li> -->
<br><Br>
          <% }) %>
      </ul>
  </center>
</body>

</html>