<!DOCTYPE html>
<html lang="en">

<head>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
</style>;
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Add a Riddle</title>
</head>

<body>
  <center>

    <h1>Add a New Riddle</h1>

            <div class="flex-container-new-riddle">
        <br>      
    <form action="/riddles" method="POST">
      <label for="riddle">Riddle:</label>
      <textarea name="riddle" id="riddle" rows="7" cols="33"></textarea></textarea>
      <br><br>
      <label for="answer">Answer:</label>
      <textarea name="answer" id="answer" rows="2" cols="33"></textarea></textarea>
      <br><br>
<a href="/riddles"><img src="https://www.mediafire.com/file/qf6rydyt8tcphzm/3dshape.png/file"
        alt="Photo attributed to Canva App" width="130" height="130"></a>
        <br>
      <button type="submit">Add Riddle</button>
    </form>
    </div>
  </center>
</body>

</html>