<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add a Riddle</title>
</head>

<body>
  <center>
  
    <h1>Add a New Riddle!</h1>
      <form action="/riddles" method="POST">
      <label for="riddle">Riddle:</label>
      <textarea name="riddle" id="riddle"></textarea>
      <br><br>
      <label for="answer">Answer:</label>
      <textarea name="answer" id="answer"></textarea>
      <br><br>

      <button type="submit">Add Riddle</button>
    </form>
  </center>
</body>

</html>