<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Homepage</title>
</head>

<body>


  <center>
    <%- include('./partials/_navbar.ejs')-%>
      <% if (user) { %>
        <br>
        <h1>Riddle Me This </h1>
        <br>
        <p> <div class="flex-container">
                         <h3><i>The Ultimate Riddle Index. </i></h3>
          <a href="/riddles"><img src="https://www.mediafire.com/file/or0y0ryx41mr2z4/shapebigger.png/file"
              alt="Photo attributed to Canva App"></a><br>

               <br>
          <br><a href="/riddles">Enter here, <%= user.username %>.</a>
        </p>
  </center>
  <% } else { %>
    <center>
      <h1>Welcome to the Riddles app, guest.</h1>


</div>


      <br><br>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a> to see the Riddles Index.
      </p>
    </center>
    <% } %>
      </center>
</body>

</html>