<!DOCTYPE html>
<html lang="en">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
  rel="stylesheet">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Homepage</title>
</head>

<body>


  <center>
    <%- include('./partials/_navbar.ejs')-%>
      <% if (user) { %>
        <br>
        <h1>Riddle Me This </h1>
        <p>
        <div class="flex-container-intro1">
          <h3><i> The Ultimate Riddle Index.</i></h3>
        </div>
        <a href="/riddles"><img src="https://www.mediafire.com/file/qf6rydyt8tcphzm/3dshape.png/file"
            alt="Photo attributed to Canva App"></a><br>

        <p>
        <div class="flex-container-intro2">
          
          <a href="/riddles">Enter here, <%= user.username %>...</a>
        </div>
        </p>
  </center>
  <% } else { %>
    <center>
      <h1>Welcome to the Riddles app, guest.</h1><br>

 <img src="https://www.mediafire.com/file/qf6rydyt8tcphzm/3dshape.png/file"
            alt="Photo attributed to Canva App" width="130" height="130"<br>

      </div>


      <br><br>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a> to see the Riddles Index.
      </p>
    </center>
    <% } %>
      </center>
</body>

</html>