@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;500;700');


body {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}


/* public/style.css */
.flex-container {
    display: flex;
    /* Makes the container a flex container */
    /* Optional Flexbox properties for the container: */
    flex-direction: row;
    /* Default: items arranged in a row */
    justify-content: space-around;
    /* Distributes space around items */
    align-items: center;
    /* Aligns items along the cross-axis */
    height: 500px;
    /* Example height for visualization */
    border: none;
    background-color: rgb(255, 255, 255);
}

.flex-item {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
}


.flex-container-riddle {
    display: flex;
    /* Makes the container a flex container */
    /* Optional Flexbox properties for the container: */
    flex-direction: row;
    /* Default: items arranged in a row */
    justify-content: space-around;
    /* Distributes space around items */
    align-items: center;
    /* Aligns items along the cross-axis */
    height: 550px;
    /* Example height for visualization */
    border: solid;
    background-color: rgb(255, 255, 255);
}

.flex-container-intro1 {
    display: flex;
    /* Makes the container a flex container */
    /* Optional Flexbox properties for the container: */
    flex-direction: row;
    /* Default: items arranged in a row */
    justify-content: space-around;
    /* Distributes space around items */
    align-items: center;
    /* Aligns items along the cross-axis */
    height: 60px;
    /* Example height for visualization */
    border: none;
    background-color: rgb(255, 255, 255);
}

.flex-container-intro2 {
    display: flex;
    /* Makes the container a flex container */
    /* Optional Flexbox properties for the container: */
    flex-direction: row;
    /* Default: items arranged in a row */
    justify-content: space-around;
    /* Distributes space around items */
    align-items: center;
    /* Aligns items along the cross-axis */
    height: 80px;
    /* Example height for visualization */
    border: none;
    /* background-color: rgb(255, 255, 255); */
}

.flex-container-headerNav {
    display: flex;
    /* Makes the container a flex container */
    /* Optional Flexbox properties for the container: */
    flex-direction: row;
    /* Default: items arranged in a row */
    justify-content: space-around;
    /* Distributes space around items */
    align-items: center;
    /* Aligns items along the cross-axis */
    height: 50px;
    /* Example height for visualization */
    border:solid; 3pt; color(rgb(0, 0, 0)

}

.flex-container-headerNav {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
}